.details {
  flex: 1 1 0%;
  border-radius: 0.25rem;
}

.details > h3{
	font-weight: 600;
	font-size: 2rem;
}

.details > h4{
	margin-top: 1rem;
	font-weight: 400;
}

.details > span{
	margin-left: 1rem;
	font-weight: 300;
}
